/* Add this in your CSS file */
.btn-github {
  background-color: #5e3aef; /* Change this to the desired color */
  color: white; /* Change this to the desired text color */
  /* Add any additional styles as needed */
}

/* If you want to change the color on hover, you can add the following */
.btn-github:hover {
  background-color: white; /* Change this to the desired hover color */
}

.portfolio--section--card {
  transition: transform 0.3s ease-in-out;
  position: relative; /* Ensure stacking context */
  z-index: 1;
}

.portfolio--section--card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px #5e3aef;
  z-index: 10; /* Bring the card above other elements */
}
